* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  background-image: url(../src/images/mainheaderimage.png),
    url(../src/images/background2.svg);
  background-repeat: no-repeat;
  background-position: 53vw -120px, -34vw 40vw;
  background-size: 65vw, 85vw;
}

.our-services-container {
  margin-top: 100px;
}

.core-values-container {
  background-image: url(../src/images/corevalues.png);
  background-color: #101031;
  background-blend-mode: multiply;
  opacity: 0.95;
  height: 770px;
}

.core-values-container2 {
  display: flex;
}

.about-us-container {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.terms-container {
  height: 100vh;
}

.terms-logo {
  width: 300px;
}

.terms-logo-containers {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.terms-details {
  width: 50%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.terms-title {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 38px;
  color: #6f6f83;
}

.terms-desc {
  font-family: "Hind";
  font-weight: 400;
  font-size: 18px;
  color: #6f6f83;
}

@media all and (max-width: 1360px) {
  .container {
    background-image: none;

    background-image: none, url(../src/images/background2.svg);
    background-repeat: no-repeat;
    background-position: 0vw -0px, -90vw 75vw;
    background-size: 0vw, 155vw;
  }
  .core-values-graphic-container {
    display: none;
  }
  .core-values-container {
    z-index: 1;
  }
  .about-us-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: initial;

    margin-top: -90px;
    z-index: 2;
    transform-style: preserve-3d;
  }

  .terms-logo {
    width: 200px;
  }

  .terms-details {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
