/* .main-text {
  color: #101031;
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.secondary-text {
  color: #6f6f83;
  font-size: 24px;
  font-family: "Hind";
  font-weight: 400;
  margin-top: 24px;
}

.our-services-button {
  background-color: #74fbdf; 
  border: none;
  color: #101031;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  font-family: "Hind";
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.our-services-button:hover {
  background-color: #101031;
  color: white;
}

.contact-us-link {
  font-family: "Hind";
  font-weight: 600;
  font-size: 15px;
  color: #101031;
  text-decoration: none;
  margin-left: 20px;
}

.button-links {
  margin-top: 24px;
} */
